{% extends "base.html" %}
{% block title %}
Log-in
{% endblock title %}

{% block content %}
  <div class="container text-center">
    <h1>Log-in</h1>
    {% if form.errors %}
      <p>
        Your username and password didn't match. Please try again.
      </p>
    {% else %}
      Use the following form to log-in
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        <div class="form-group">
        {{form.as_p}}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p>
          <input type="submit" value="Log-in" class="btn btn-primary">
        </p>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
